{
  "presets": [["es2015", { "modules": false }], "react"],
  "env": {
    "test": {
      "presets": [["es2015", "react"]]
    }
  },
  "plugins": [ "jsx-control-statements", "react-hot-loader/babel" ]
}